html, body {
    background-color: #c9dde8;
    font-family: "New Century Schoolbook", Times, serif;
}

a {
    color: #c9dde8;
    text-decoration: none;
}

a:hover {
    color: #c9dde8;
}

.page {
    transition: 0.5s;
    height: 100%;
    width: 100%;
}

.page.transparent {
    transform: translateX(-25%);
    filter: blur(5px);
}

#content {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
}

#rsvp_page, #registry_page {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#rsvp_page iframe {
  border: none;
  flex-shrink: none;
}

.registry-button {
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 3px;
}

#registry_page a {
  position: relative;
  top: 40px;
}

.title_text {
    font-family: Hiatus;
    font-size: 80px;
}

.sub_text {
    text-align: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    width: 100%;
    animation: nav_in 1s;
    position: fixed;
    padding: 5px;
    box-sizing: border-box;
    z-index: 100;
    -webkit-backdrop-filter: blur(5px);
    transition: transform 0.5s;
}

#nav_inner {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#right_aligned_buttons {
    display: inline-block;
    float: right;
}

.nav_item {
    color: #888;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
    border-radius: 4px;
}
.nav_item:hover, .nav_item a:hover {
    color: #000;
    background: rgba(201, 221, 232, 0.3);
}

.nav_item a {
    text-decoration: none;
    color: #222;
}

@keyframes nav_in {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0)}
}

.transparent {
    opacity: 0 !important;
}

.display_none {
    display: none !important;
}

.jsh_blurred {
    filter: none !important;
    -webkit-filter: none !important;
}
