html {
    background: linear-gradient(
    		rgba(245, 245, 245, 0.96), 
    		rgba(245, 245, 245, 0.96)
    	), 
    	url(res/noise.png);
    background-size: 300px;
  	-webkit-overflow-scrolling: touch;
	font-family: sans-serif;
}

body {
	margin: 0;
}
